<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="" alt="house Image">
    <section class="house top info">
      <ul>
        <li>Address:</li>
        <li>LandLord: people collection .Landlord .url to profile page</li>
        <li>Wi-fi Name: house collection .wifi .name</li>
        <li>Password: house collection .wifi .password</li>
      </ul>
    </section>

    <section class="house middle ">
      <section class="house middle housemates">
        <h3>HouseMates</h3>
        <ul>
          <!-- <li>Load name and profile url to each person in the people collection that has the house property equal to the document Id of the proper house from the house collection</li> -->
        </ul>
      </section>
      <section>
        <ul>
          <!-- <li>Load date, name and event url from url collection to upcoming events that are tied to the house document in the house collection.</li> -->
        </ul>
      </section>
    </section>

  <section class="house bottom">
    <h3>House Bills</h3>
    <ul>
      <!-- <li>Load each bill document from bills collection that is tied to this house ID</li> -->
    </ul>

  </section>
  </body>
</html>
