<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HouseMate</title>
  </head>
  <body>
    <header>
      <h1>HouseMate</h1>
      <nav>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
    </header>

    <section class="left top landing">
      <h2>Why HouseMate?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia sollicitudin dui in ultrices. Cras sit amet libero et magna egestas accumsan. Vivamus vel euismod augue. Pellentesque ac libero vel lacus venenatis vulputate. Nulla sit amet justo pulvinar eros facilisis gravida. Quisque sodales eros sapien, eu suscipit eros auctor quis. Proin venenatis tortor ligula, quis faucibus lectus lacinia mattis.

      In hac habitasse platea dictumst. Suspendisse quis sem a ligula maximus dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut magna rhoncus, elementum ex sed, vestibulum metus. Nunc dignissim libero non dui tempor pulvinar. Nam molestie arcu et mollis tincidunt. Quisque nunc eros, commodo eu nisi eu, volutpat tincidunt ex.

      Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Sed egestas porta euismod. Maecenas condimentum finibus leo, in accumsan orci efficitur ac. Suspendisse vel dui et elit fermentum finibus vel sed enim. Pellentesque magna lorem, consectetur in viverra nec, ullamcorper ac risus. Nulla sem eros, dignissim a tempor a, volutpat sed lectus. Nulla porta sodales tristique. Maecenas et volutpat purus. Curabitur efficitur gravida augue. Proin ac dapibus arcu, id condimentum tortor. Suspendisse ut risus nec quam efficitur posuere. Nulla sit amet tempus quam, non consectetur tortor. Donec vestibulum eros ac leo efficitur, tempor auctor odio interdum. Aliquam venenatis in libero eu congue. Nunc volutpat auctor purus.</p>

    </section>

    <section class="right top landing">
      <section class="logIn" id="loginHidden">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
      </section>
      <section id="signupHidden">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
      </section>
    </section>

  </body>
</html>
