<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
</div>
<section class="top half profile">
  <section class="top left profile">
    <ul>
      <!-- <li>load property e-mail from people collection</li> -->
      <!-- <li>load property phone # from people collection</li> -->
    </ul>
    <ul>
      <!-- <li>load property paypal link from people collection</li> -->
      <!-- <li>load property venmo username from people collection</li> -->
      <!-- <li>load property cashapp username from people collection</li> -->
    </ul>
    <span><a href="#">See profile page</a></span>
    <span><a href="#">See house page</a></span>
  </section>
  <section class="top right profile">
    <ul>
      <li>Change account info</li>
      <li>Change e-mail/password</li>
      <li>Change payment information</li>
      <li>Notification settings</li>
      <li>Change profile</li>
    </ul>
  </section>
</section>
<section class="bottom half profile">
  <section class="bottom half bills">
    <h3>Bills in charge of</h3>
    <ul>
      <!-- for loop here -->
      <!-- <li>bills collection here</li> -->
    </ul>
    <!-- end loop here -->
  </section>
  <section class="bottom half debts">
    <h3>What you owe others</h3>
    <ul>
      <!-- for loop here -->
      <!-- <li>transactions collection here, specifically loading the ones where the user owes somebody </li> -->
    </ul>
    <!-- end loop here -->
  </section>
  <section class="bottom half owed">
    <h3>What others owe you</h3>
    <ul>
      <!-- for loop here -->
      <!-- <li>transactions collection here, specifically loading the ones where the user is owed</li> -->
    </ul>
    <!-- end loop here -->
  </section>
  <section class="bottom half trans">
    <h3>Recent Transactions</h3>
    <ul>
      <!-- for loop here -->
      <!-- <li>transactions collection here, loading all recent ones</li> -->
    </ul>
    <!-- end loop here -->
  </section>
</section>

<script src="main.js"></script>

</body>
</html>
