<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="" alt="pubprofile photo">

    <section class="top right pubprofile">
      <!-- <h2>people.name</h2>
      <span>people.tag-line</span>
      <p>people.about-me</p> -->
    </section>

    <section class="pubprofile middle left">
      <ul>
        <!-- <li>people.date joined</li>
        <li>people.birthday</li>
        <li>people. phone #</li>
        <li>people. e-mail</li>
        <li>people. preferred contact method</li> -->
      </ul>
    </section>

    <section class="pubprofile middle right">
      <h3>Assigned Bills</h3>
      <!-- list all bills from bill collection associated with the user id from the user's document in people collection. List amount, link to bill page, date and days left -->
    </section>

    <button type="button" name="New Transactions">Start New Transaction</button>
    <!-- On click, will make new transactions button link to new transaction page. If possible, will have a preview of the new transaction page form appear here. With the way i'm thinking of structuring the transaction documents, however, think it's best new transaction get its own page for now. Ideally would do both later. -->
    <button type="button" name="See Transactions">See Transactions with this user</button>
    <!-- on click, this button will make the section below appear. -->
    <ul>
      <!-- <li>Load every transaction between the logged in user viewing the page and the person the profile page belongs to</li> -->
    </ul>
  </body>
</html>
