*{
  box-sizing: border-box;
}
.full-layout{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.half-layout{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  padding: 1rem;
}
.half-layout:first-of-type{
  border-right: 2px solid black;
}
form{
max-width: 400px;
width: 100%;
}
form fieldset{
  outline: 0;
  border: 0;
  margin: 1rem auto;
  width: 100%;
  padding: 0;
}
form fieldset input{
  padding: 0.3rem 1rem;
  width: 100%;
}
form fieldset label{
  display: block;
}
