*{
  margin: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
body{
  background-color: #ededed;
}
.landing.body{
  padding-top:80px;
  word-wrap:break-word;
  width: 75%;
  margin: auto;
  background-image: url('landingBG.png');
  background-size: cover;
}
.landing header{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.landing img{
  height: 150px;
}
.landing.form{
  width: 48%;

  float: left;
}
.landing{
    margin-left: 4%;
}
.landing form{

}
.landing.logIn{
  margin: 117px;

}
.landing h1{
  width: 100%;
}
.landing h2{
  margin-top: 165px;
}
.landing p{
  margin: 0 0 156px 0;
}
.landing ul{
  list-style: none;
}
.landing nav li{
  float: left;
  margin-left: 5%;
}
.left.top.landing, .right.top.landing{
  width: 45%;
  height: 440px;
  float: left;

}
.bills.body{
  width: 80%;
  margin: 80px auto;
  text-align: center;
}
.bills ul{
  list-style: none;
}
.bills.columnHeaders{
  border: 1px black;
  /* Add border, increase font-size and font-weight, center text and make bold. These are the words.  */
}
.bills span{
  margin-left: 2%;
}
.body.bill{
  width: 65%;
  float: left;
}
