@import url('https://fonts.googleapis.com/css?family=Jaldi');
html, body{
  font-family: 'Jaldi', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
h1{
  font-size: 2.7rem;
  margin-top: 0;
  margin-bottom: 12px;
}
h2{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 12px;
}
h3{
  font-size: 1.85rem;
  margin-top: 0;
  margin-bottom: 12px;
}
h4{
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 12px;
}
h5{
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 12px;
}
h6{
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 12px;
}
p{
  font-size: 1.05rem;
  line-height: 1.35;
  margin-top: 0;
}
li{
  font-size: 1rem;
}
a{

}
a.link{
  color: red;
  text-decoration: none;
  font-weight: bold;
}
a.link:hover{
  text-decoration: underline;
}
a.btn{

}
em{
  font-style: italic;
}
strong{
  font-weight: bold;
}
